*, *::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    direction: ltr;
   
    
}
a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style-type: none;
}
*::after, *::before{
    content: '';
}
.row{
    display: flex;
    flex-wrap: wrap;
    
}
